{{define "title"}}Goonpraisal - About.{{end}}
{{define "description"}}Price check Eve Online stuff.{{end}}
{{define "content"}}
<div class="col-md">
  <h4>What is this?</h4>
  <p>This is a tool for Eve Online aimed at being able to quickly price check items in bulk. </p>

  <h4>How are prices calculated?</h4>
  <p>Prices calculated from recent market data from Eve Online's ESI API. Items with low (or no) market volume use CCP's pricing estimates.</p>

  <h4>What does a purple row mean?</h4>
  <p>Purple rows are items that Goonpraisal had a hard time finding an accurate and current price for. This is usually caused by low (or no) market volume for that item.</p>

  <h4>Caveats/Known Issues</h4>
  <ul>
    <li>There's no reliable way to get prices of blueprint copies (BPCs). Due to this, Goonpraisal doesn't even try to guess a price for them.</li>
    <li>Non-english formats don't always work properly.</li>
  </ul>

  <h4>Is there an API?</h4>
  <p>Yes! A very simple one, but it will probably get you what you want. <a href="/api-docs">Click here to see the API Documentation</a>.</p>

  <h4>Why's this so similar to evepraisal.com</h4>
  <p>This is a fork of evepraisal.com, which is originally written by
  &quot;Magerawr&quot;, and it's not bad. I just wanted to add 1DQ1-A to it. I
  can't promise I'll backport new features continuously.</p>
  <ul>
      <li>Send in-game mail or all your ISK to &quot;Bottle ofMilk&quot;</li>
      <li>Open an issue on
          <a href="https://github.com/pubkraal/go-evepraisal/issues?state=open">the source repository</a>, or on
          <a href="https://github.com/evepraisal/go-evepraisal/issues?state=open">the original repository</a>.</li>
      <li>Support Magerawr as well.</li>
  </ul>

  <h4>Original contact details</h4>
  <ul>
    <li>Send an in-game mail to: <a href="https://gate.eveonline.com/Profile/Magerawr" target="_blank">Magerawr</a></li>
    <li>Open an <a href="https://github.com/evepraisal/go-evepraisal/issues?state=open" target="_blank">issue on github</a></li>
    <li>Talk to <a href="https://tweetfleet.slack.com/messages/@sudorandom" target="_blank">@sudorandom</a> in the <a href="https://tweetfleet.slack.com/messages/C03CGPX82" target="_blank">#devfleet channel on the tweetfleet slack</a></li>
    <li>Mention <a href="https://twitter.com/sudorandom" target="_blank">@sudorandom</a> on twitter.</li>
  </ul>
  <p>He gets a lot of mail so I don't have the time to respond to everyone.</p>
</div>

{{end}}

{{template "_layout.html" .}}
